a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

.card-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vh;
  height: 30vh;
}

.msg {
  color: #000;
}
